<?xml version="1.0"?>
<config>
    <modules>
      <Banner_Creativity>
          <version>0.1.0</version>
      </Banner_Creativity>
    </modules>

    <frontend>
        <routers>
          <creativity>
              <use>standard</use>
            <args>
              <module>Banner_Creativity</module>
              <frontName>creativity</frontName>
            </args>
          </creativity>
        </routers>
      <layout>
        <updates>
          <creativity>
            <file>creativity.xml</file>
          </creativity>
        </updates>
      </layout>
    </frontend>

    <global>
      <helpers>
        <creativity>
            <class>Banner_Creativity_Helper</class>
        </creativity>
      </helpers>
      <blocks>
        <creativity>
          <class>Banner_Creativity_Block</class>
        </creativity>
      </blocks>
      <models>
        <creativity>
          <class>Banner_Creativity_Model</class>
          <resourceModel>creativity_mysql4</resourceModel>
        </creativity>
        <creativity_mysql4>
          <class>Banner_Creativity_Model_Mysql4</class>
            <entities>      
              <creativity>
                <table>creativity</table>
              </creativity>
            </entities>
        </creativity_mysql4>
      </models>
      <resources>
        <creativity_setup>
          <setup>
            <module>Banner_Creativity</module>
          </setup>
          <connection>
            <use>core_setup</use>
          </connection>
        </creativity_setup>
        <creativity_write>
          <connection>
            <use>core_write</use>
          </connection>
        </creativity_write>
        <creativity_read>
          <connection>
            <use>core_read</use>
          </connection>
        </creativity_read>
      </resources> 
    </global>
</config> 