<?xml version="1.0"?>
<config>
	<modules>
		<BTS_Checkout>
			<version>0.0.1</version>
		</BTS_Checkout>
	</modules>
	<global>
		<models>
			<bts_checkout>
				<class>BTS_Checkout_Model</class>
			</bts_checkout>
		</models>
	</global>
	<frontend>
		<events>
			<checkout_cart_save_before>
				<!-- <observers>
					<bts_checkout_observer>
						<type>singleton</type>
						<class>bts_checkout/observer</class>
						<method>addShipping</method>
					</bts_checkout_observer>
				</observers> -->
			</checkout_cart_save_before>
		</events>
	</frontend>
</config>