<?xml version="1.0" encoding="UTF-8" ?> 
<config>
    <modules>
        <Harpreet_Slider>
            <version>1.0.1</version> 
        </Harpreet_Slider>
    </modules>
    <global>
        <models>
            <harpreet_slider>
                <class>Harpreet_Slider_Model</class>
            </harpreet_slider>
        </models>
        <blocks>
            <harpreet_slider>
                <class>Harpreet_Slider_Block</class>
            </harpreet_slider>
        </blocks>
        <helpers>
            <harpreet_slider>
                <class>Harpreet_Slider_Helper</class>
            </harpreet_slider>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <Harpreet_Slider>
                    <file>harpreet_slider.xml</file>
                </Harpreet_Slider>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Harpreet_Slider>
                    <file>harpreet_slider_admin.xml</file>
                </Harpreet_Slider>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <harpreetslider>
            <slideritem1>
                <link>#</link>
                <title>You have successfully installed Harpreet Slider</title>
            </slideritem1>
            <slideritem2>
                <link>#</link>
                <title>Some Text for next banner</title>
            </slideritem2>
            <animations>
                <type>random</type>
                <speed>400</speed>
                <pausetime>4000</pausetime>
                <hover>1</hover>
                <slices>15</slices>
                <boxcols>8</boxcols>
                <boxrows>4</boxrows>
            </animations>
            <design>
                <width>900</width>
                <height>340</height>
                <texten>1</texten>
                <textsize>18</textsize>
                <textpos>leftbottom</textpos>
                <textopacity>0.8</textopacity>
                <textscolor>ffffff</textscolor>
                <bgscolor>000000</bgscolor>
                <buttonen>1</buttonen>
                <buttonscolor>bbbbbb</buttonscolor>
                <buttonscolorup>ffffff</buttonscolorup>
                <buttonpos>righttop</buttonpos>
                <nextpreven>1</nextpreven>
            </design>
        </harpreetslider>
    </default>
</config>