<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Imagechooser>
      <version>0.1.0</version>
    </Iksula_Imagechooser>
  </modules>
  <global>
    <helpers>
      <imagechooser>
        <class>Iksula_Imagechooser_Helper</class>
      </imagechooser>
    </helpers>
	<models>
	  <imagechooser>
		<class>Iksula_Imagechooser_Model</class>
		<resourceModel>imagechooser_mysql4</resourceModel>
	  </imagechooser>
	</models>
	<resources>
	  <categoryattribute1411216302_setup>
		<setup>
		  <module>Iksula_Imagechooser</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1411216302_setup>
	  <categoryattribute1411216302_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1411216302_write>
	  <categoryattribute1411216302_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1411216302_read>
	</resources>
  </global>
</config> 