<table cellpadding="0" cellspacing="0" width="600" align="center">
	<tbody>
	<tr>
	<td style="width: 600px; border: 2px solid #efefef;" align="center">
	<table cellpadding="0" cellspacing="0" width="600" align="center">
	<tbody>
	<tr>
	</tr>
	</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" width="600" align="center">
	<tbody>
	<tr>
	<td>
	<div style="font-family: Georgia; font-size: 16px; text-align: left; padding-top: 15px; padding-left: 30px; padding-right: 20px;">Dear {{var $customerName}},</div>
	<div style="font-family: Georgia; font-size: 16px; text-align: left; padding-top: 15px; padding-left: 30px; padding-right: 20px; line-height: 20px;">Thank you for participating our The Hattrick Offer.</div>
	<div style="font-family: Georgia; font-size: 16px; text-align: left; padding-top: 15px; padding-left: 30px; padding-right: 20px; line-height: 20px;">1. Your Happily Unmarried coupon code is {{var $couponNameHu}}
	<br> This discount code can be redeemed at our website - www.happilyunmarried.com </div>
	<div style="font-family: Georgia; font-size: 17px; text-align: center; padding-top: 15px; padding-left: 20px; padding-right: 20px; line-height: 20px;">2. Your Paytm market place coupon code is {{var $couponNamePaytm}} <br>
	       This discount code can be redeemed here -> http://bit.ly/1AFzzl4
</div>
<div> <b> Terms and Conditions:</b>
<br> For Happily Unmarried coupon code
<br> (a) This code is valid till 10th March 2015.
<br> (b) The code can be redeemed only on our website -> www.happilyunmarried.com
<br> (c) Happily Unmarried reserves all the rights to alter or cancel the campaign.

<br><br>
 <b> For Paytm marketplace coupon code:</b>
<br> (a) Customer will get 20% cashback on shopping of Rs 499 or above. Max cash back Rs 250.
<br> (b) Code valid on items Priced at Rs 499 or above.
<br> (c) Code can be used only once per user.
<br> (d) Code is not valid on Pen drives , memory cards, gold & silver coins.
<br> (e) Codes can be used by all users.


<br><br>Regards,
<br>Team Happily Unmarried
<br>Ph - > 011 - 41042266
<br>E-mail -> customer.care@happilyunmarried.com</div>	</td>
	</tr>

		    </tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>

