<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Trackorder>
      <version>0.1.0</version>
    </Iksula_Trackorder>
  </modules>
  <frontend>
    <routers>
      <trackorder>
        <use>standard</use>
          <args>
            <module>Iksula_Trackorder</module>
            <frontName>trackorder</frontName>
          </args>
      </trackorder>
    </routers>
		<layout>
		  <updates>
			<trackorder>
			  <file>trackorder.xml</file>
			</trackorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <trackorder>
        <class>Iksula_Trackorder_Helper</class>
      </trackorder>
    </helpers>
    <models>
        <trackorder>
             <class>Iksula_Trackorder_Model</class>
        </trackorder>
    </models>
	<blocks>
	  <trackorder>
		<class>Iksula_Trackorder_Block</class>
	  </trackorder>
	</blocks>
  </global>
</config> 