<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Internationalshipping>
      <version>0.1.0</version>
    </Iksula_Internationalshipping>
  </modules>
  <frontend>
    <routers>
      <internationalshipping>
        <use>standard</use>
          <args>
            <module>Iksula_Internationalshipping</module>
            <frontName>internationalshipping</frontName>
          </args>
      </internationalshipping>
    </routers>
		<layout>
		  <updates>
			<internationalshipping>
			  <file>internationalshipping.xml</file>
			</internationalshipping>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <internationalshipping>
        <class>Iksula_Internationalshipping_Helper</class>
      </internationalshipping>
    </helpers>
	<blocks>
	  <internationalshipping>
		<class>Iksula_Internationalshipping_Block</class>
	  </internationalshipping>
	</blocks>
	<models>
	  <internationalshipping>
		<class>Iksula_Internationalshipping_Model</class>
		<resourceModel>internationalshipping_mysql4</resourceModel>
	  </internationalshipping>
	  <internationalshipping_mysql4>
		<class>Iksula_Internationalshipping_Model_Mysql4</class>
		<entities>		  
			  <internationalshipping>
				<table>internationalshipping</table>
			  </internationalshipping>
        </entities>
	  </internationalshipping_mysql4>
	</models>
	<resources>
	  <internationalshipping_setup>
		<setup>
		  <module>Iksula_Internationalshipping</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </internationalshipping_setup>
	  <internationalshipping_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </internationalshipping_write>
	  <internationalshipping_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </internationalshipping_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <internationalshipping>
	    <use>admin</use>
		<args>
		  <module>Iksula_Internationalshipping</module>
		  <frontName>internationalshipping</frontName>
		</args>
	  </internationalshipping>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <internationalshipping module="internationalshipping">
		<title>Internationalshipping</title>
		<sort_order>100</sort_order>
		<children>
		  <internationalshipping module="internationalshipping">
		    <title>Manage Internationalshipping</title>
			<sort_order>0</sort_order>
			<action>internationalshipping/adminhtml_internationalshipping</action>
		  </internationalshipping>
		</children>
	  </internationalshipping>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<internationalshipping translate="title" module="internationalshipping">
			  <title>Internationalshipping</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <internationalshipping translate="title">
			<title>Manage Internationalshipping</title>
			<sort_order>0</sort_order>
		  </internationalshipping>
			  </children>
			</internationalshipping>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<internationalshipping>
		  <file>internationalshipping.xml</file>
		</internationalshipping>
	  </updates>
	</layout>
  </adminhtml>
</config> 