<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Categorydropdown>
      <version>0.1.0</version>
    </Iksula_Categorydropdown>
  </modules>
  <global>
    <helpers>
      <categorydropdown>
        <class>Iksula_Categorydropdown_Helper</class>
      </categorydropdown>
    </helpers>
	<models>
	  <categorydropdown>
		<class>Iksula_Categorydropdown_Model</class>
		<resourceModel>categorydropdown_mysql4</resourceModel>
	  </categorydropdown>
	</models>
	<resources>
	  <categoryattribute1411483371_setup>
		<setup>
		  <module>Iksula_Categorydropdown</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1411483371_setup>
	  <categoryattribute1411483371_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1411483371_write>
	  <categoryattribute1411483371_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1411483371_read>
	</resources>
  </global>
</config> 