<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<solidswatches translate="label" module="solidswatches">
			<label>Swatch Settings</label>
			<sort_order>10</sort_order>
		</solidswatches>
	</tabs>
	<sections>
		<solidswatches translate="label" module="solidswatches">
			<label>Swatch Settings</label>
			<tab>explore</tab>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<solidswatches_group translate="label" module="solidswatches">
					<label>General Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<solidswatches_status translate="label">
							<label>Status: </label>
							<comment>Show Swatches on Explore Page</comment>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</solidswatches_status>
						<solidswatches_render_dropdown translate="label">
							<label>Show dropdowns with color swatches on product page: </label>
							<comment>Show Swatch colors instead of names in option dropdown</comment>
							<frontend_type>select</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</solidswatches_render_dropdown>
						<solidswatches_attributes translate="label">
							<label>Attributes For Which Swatches Show Up: </label>
							<comment><![CDATA[Enter the <strong>Attribute Code</strong> of the attributes for which you want to show Color Swatches, all separated by a comma. E.g. <strong>antibagcolor, tshirtcolornew</strong>]]></comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</solidswatches_attributes>
					</fields>
				</solidswatches_group>
			</groups>
		</solidswatches>
	</sections>
</config>