<?xml version="1.0"?>
<config>
	<modules>
		<Iksula_Suggest>
			<version>0.1.1</version>
		</Iksula_Suggest>
	</modules>
	<frontend>
		<routers>
			<suggest>
				<use>standard</use>
				<args>
					<module>Iksula_Suggest</module>
					<frontName>suggest</frontName>
				</args>
			</suggest>
			<checkout>
				<use>standard</use>
				<args>
					<modules>
						<Iksula_Suggest before="Mage_Checkout">Iksula_Suggest</Iksula_Suggest>
					</modules>
				</args>
			</checkout>
		</routers>
		<events>
			<customer_logout>
				<observers>
					<iksula_suggest_observer>
						<type>model</type>
						<class>suggest/observer</class>
						<method>customerLogout</method>
					</iksula_suggest_observer>
				</observers>
			</customer_logout>
		</events>
		<layout>
			<updates>
				<suggest>
					<file>suggest.xml</file>
				</suggest>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<suggest>
				<class>Iksula_Suggest_Helper</class>
			</suggest>
		</helpers>
		<blocks>
			<suggest>
				<class>Iksula_Suggest_Block</class>
			</suggest>
			<adminhtml>
				<rewrite>
					<sales_order_create_customer_grid>Iksula_Suggest_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
					<sales_order_grid>Iksula_Suggest_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
			<checkout>
				<rewrite>
					<onepage>Iksula_Suggest_Block_Onepage</onepage>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<suggest>
				<class>Iksula_Suggest_Model</class>
				<resourceModel>suggest_mysql4</resourceModel>
			</suggest>
			<suggest_mysql4>
				<class>Iksula_Suggest_Model_Mysql4</class>
				<entities>
					<suggest>
						<table>suggest</table>
					</suggest>
				</entities>
			</suggest_mysql4>
			<shipping>
				<rewrite>
					<carrier_tablerate>Iksula_Suggest_Model_Carrier_Tablerate</carrier_tablerate>
				</rewrite>
			</shipping>
			<customer>
				<rewrite>
					<customer>Iksula_Suggest_Model_Customer</customer>
				</rewrite>
			</customer>
		</models>
		<resources>
			<suggest_setup>
				<setup>
					<module>Iksula_Suggest</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</suggest_setup>
			<suggest_write>
				<connection>
					<use>core_write</use>
				</connection>
			</suggest_write>
			<suggest_read>
				<connection>
					<use>core_read</use>
				</connection>
			</suggest_read>
		</resources>
	</global>
	<crontab>
		<jobs>
			<iksula_suggest>
				<schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
				<run><model>suggest/observer::karmaPolice</model></run>
			</iksula_suggest>
		</jobs>
	</crontab>
	<admin>
		<routers>
			<suggest>
				<use>admin</use>
				<args>
					<module>Iksula_Suggest</module>
					<frontName>suggest</frontName>
				</args>
			</suggest>
			<!--<adminhtml>
				<args>
					<modules>
						<Iksula_Suggest before="Mage_Adminhtml">Iksula_Override</Iksula_Suggest>
					</modules>
				</args>
			</adminhtml>-->
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<suggest module="suggest">
				<title>B2B</title>
				<sort_order>100</sort_order>
				<children>
					<suggest module="suggest">
						<title>Manage Vendors</title>
						<sort_order>0</sort_order>
						<action>suggest/adminhtml_suggest</action>
					</suggest>
				</children>
			</suggest>
		</menu>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<iksula_suggest_observer>
						<type>model</type>
						<class>suggest/observer</class>
						<method>adminSalesOrder</method>
					</iksula_suggest_observer>
				</observers>
			</core_block_abstract_prepare_layout_before>
			<customer_save_after>
                <observers>
                    <iksula_suggest_observer>
						<type>model</type>
						<class>suggest/observer</class>
						<method>customerSaveAfter</method>
					</iksula_suggest_observer>
                </observers>
            </customer_save_after>
		</events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<suggest translate="title" module="suggest">
							<title>Vendors</title>
							<sort_order>1000</sort_order>
							<children>
								<suggest translate="title">
									<title>Manage Vendors</title>
								</suggest>
							</children>
						</suggest>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<suggest>
					<file>suggest.xml</file>
				</suggest>
			</updates>
		</layout>
	</adminhtml>
</config>
