<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Impressionsemail>
      <version>0.1.0</version>
    </Iksula_Impressionsemail>
  </modules>
  <global>
    <helpers>
      <impressionsemail>
        <class>Iksula_Impressionsemail_Helper</class>
      </impressionsemail>
    </helpers>
	<blocks>
	  <impressionsemail>
		<class>Iksula_Impressionsemail_Block</class>
	  </impressionsemail>
	</blocks>
	<models>
	  <impressionsemail>
		<class>Iksula_Impressionsemail_Model</class>
		<resourceModel>impressionsemail_mysql4</resourceModel>
	  </impressionsemail>
	  <impressionsemail_mysql4>
		<class>Iksula_Impressionsemail_Model_Mysql4</class>
		<entities>		  
			  <impressionsemail>
				<table>emailpopup_impressions</table>
			  </impressionsemail>
        </entities>
	  </impressionsemail_mysql4>
	</models>
	<resources>
	  <impressionsemail_setup>
		<setup>
		  <module>Iksula_Impressionsemail</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </impressionsemail_setup>
	  <impressionsemail_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </impressionsemail_write>
	  <impressionsemail_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </impressionsemail_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <impressionsemail>
	    <use>admin</use>
		<args>
		  <module>Iksula_Impressionsemail</module>
		  <frontName>impressionsemail</frontName>
		</args>
	  </impressionsemail>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <impressionsemail module="impressionsemail">
		<title>Impressionsemail</title>
		<sort_order>100</sort_order>
		<children>
		  <impressionsemail module="impressionsemail">
		    <title>Manage Impressionsemail</title>
			<sort_order>0</sort_order>
			<action>impressionsemail/adminhtml_impressionsemail</action>
		  </impressionsemail>
		</children>
	  </impressionsemail>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<impressionsemail translate="title" module="impressionsemail">
			  <title>Impressionsemail</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <impressionsemail translate="title">
			<title>Manage Impressionsemail</title>
			<sort_order>0</sort_order>
		  </impressionsemail>
			  </children>
			</impressionsemail>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<impressionsemail>
		  <file>impressionsemail.xml</file>
		</impressionsemail>
	  </updates>
	</layout>
  </adminhtml>
</config> 