<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Hupopup>
      <version>0.1.0</version>
    </Iksula_Hupopup>
  </modules>
  <frontend>
    <routers>
      <hupopup>
        <use>standard</use>
          <args>
            <module>Iksula_Hupopup</module>
            <frontName>hupopup</frontName>
          </args>
      </hupopup>
	    <newsletter>
	        <args>
	            <modules>
	                <Iksula_Hupopup before="Mage_Newsletter">Iksula_Hupopup</Iksula_Hupopup>
	            </modules>
	        </args>
	    </newsletter>
    </routers>
		<layout>
		  <updates>
			<hupopup>
			  <file>hupopup.xml</file>
			</hupopup>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <hupopup>
        <class>Iksula_Hupopup_Helper</class>
      </hupopup>
    </helpers>
	<blocks>
	  <hupopup>
		<class>Iksula_Hupopup_Block</class>
	  </hupopup>
	</blocks>
	<models>
	  <hupopup>
		<class>Iksula_Hupopup_Model</class>
		<resourceModel>hupopup_mysql4</resourceModel>
	  </hupopup>
	  <hupopup_mysql4>
		<class>Iksula_Hupopup_Model_Mysql4</class>
		<entities>		  
			  <hupopup>
				<table>hu_popup</table>
			  </hupopup>
        </entities>
	  </hupopup_mysql4>
	</models>
	<resources>
	  <hupopup_setup>
		<setup>
		  <module>Iksula_Hupopup</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </hupopup_setup>
	  <hupopup_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </hupopup_write>
	  <hupopup_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </hupopup_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <hupopup>
	    <use>admin</use>
		<args>
		  <module>Iksula_Hupopup</module>
		  <frontName>hupopup</frontName>
		</args>
	  </hupopup>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <hupopup module="hupopup">
		<title>Hupopup</title>
		<sort_order>100</sort_order>
		<children>
		  <hupopup module="hupopup">
		    <title>Manage Hupopup</title>
			<sort_order>0</sort_order>
			<action>hupopup/adminhtml_hupopup</action>
		  </hupopup>
		</children>
	  </hupopup>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<hupopup translate="title" module="hupopup">
			  <title>Hupopup</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <hupopup translate="title">
					<title>Manage Hupopup</title>
					<sort_order>0</sort_order>
				  </hupopup>
			  </children>
			</hupopup>
		  </children>
		</admin>
	  </resources>
	</acl>

    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <helloworld_options>
                                        <title>Email popup Impressions</title>
                                    </helloworld_options>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>

	<layout>
	  <updates>
		<hupopup>
		  <file>hupopup.xml</file>
		</hupopup>
	  </updates>
	</layout>
  </adminhtml>
</config> 