<?xml version="1.0"?>
<config>
	<modules>
		<Iksula_Explore>
			<version>0.4.0</version>
		</Iksula_Explore>
	</modules>
	<global>
		<helpers>
			<explore>
				<class>Iksula_Explore_Helper</class>
			</explore>
		</helpers>
		<blocks>
			<explore>
				<class>Iksula_Explore_Block</class>
			</explore>
			<catalog>
				<rewrite>
					<breadcrumbs>Iksula_Explore_Block_Breadcrumbs</breadcrumbs>
				</rewrite>
			</catalog>
			<googleanalytics>
				<rewrite>
					<ga>Iksula_Explore_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
		</blocks>

		<models>
			<explore>
				<class>Iksula_Explore_Model</class>
				<resourceModel>explore_mysql4</resourceModel>
			</explore>

			<explore_gender>
				<class>Iksula_Explore_Model_Gender</class>
				<resourceModel>explore_mysql4</resourceModel>
			</explore_gender>

			<explore_personality>
				<class>Iksula_Explore_Model_Personality</class>
				<resourceModel>explore_mysql4</resourceModel>
			</explore_personality>

			<explore_occasion>
				<class>Iksula_Explore_Model_Occasion</class>
				<resourceModel>explore_mysql4</resourceModel>
			</explore_occasion>

			<explore_contacts>
				<class>Iksula_Explore_Model_Contacts</class>
				<resourceModel>explore_mysql4</resourceModel>
			</explore_contacts>

			<explore_mysql4>
				<class>Iksula_Explore_Model_Mysql4</class>
				<entities>
					<gender>
						<table>explore_gender</table>
					</gender>
					<personality>
						<table>explore_personality</table>
					</personality>
					<occasion>
						<table>explore_occasion</table>
					</occasion>
					<contacts>
						<table>contact_us</table>
					</contacts>
				</entities>
			</explore_mysql4>

			<directory>
				<rewrite>
					<currency>Iksula_Explore_Model_Directory_Currency</currency>
				</rewrite>
			</directory>
		</models>

		<resources>
			<explore_setup>
				<setup>
					<module>Iksula_Explore</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
					<!-- <class>Iksula_Explore_Model_Resource_Eav_Mysql4_Setup</class> -->
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</explore_setup>
			<explore_write>
				<connection>
					<use>core_write</use>
				</connection>
			</explore_write>
			<explore_read>
				<connection>
					<use>core_read</use>
				</connection>
			</explore_read>
		</resources>
		<fieldsets>
			<sales_convert_quote>
				<order_source>
					<to_order>*</to_order>
				</order_source>
			</sales_convert_quote>
			<sales_convert_order>
				<order_source>
					<to_quote>*</to_quote>
				</order_source>
			</sales_convert_order>
		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<explore>
					<file>explore.xml</file>
				</explore>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<explore>
				<use>admin</use>
				<args>
					<module>Iksula_Explore</module>
					<frontName>explore</frontName>
				</args>
			</explore>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<explore>
					<file>explore.xml</file>
				</explore>
			</updates>
		</layout>
		<menu>
			<explore translate="title" module="explore">
				<sort_order>70</sort_order>
				<title>Explore (Homepage)</title>
				<children>
					<find_products_by>
						<sort_order>20</sort_order>
						<title>Find Products By</title>
						<children>
							<explore_gender translate="title" module="explore">
								<sort_order>10</sort_order>
								<title>Gender</title>
								<action>explore/adminhtml_gender/</action>
							</explore_gender>
							<explore_occasion translate="title" module="explore">
								<sort_order>20</sort_order>
								<title>Occasion</title>
								<action>explore/adminhtml_occasion/</action>
							</explore_occasion>
							<explore_personality translate="title" module="explore">
								<sort_order>30</sort_order>
								<title>Personality</title>
								<action>explore/adminhtml_personality/</action>
							</explore_personality>
						</children>
					</find_products_by>
					<settings>
						<sort_order>10</sort_order>
						<title>Explore Settings</title>
						<action>adminhtml/system_config/edit/section/explore</action>
					</settings>
					<faqs_block>
						<sort_order>40</sort_order>
						<title>Edit FAQs</title>
						<action>adminhtml/cms_block/edit/block_id/explore_faqs</action>
					</faqs_block>
				</children>
			</explore>
		</menu>
		<acl>
	        <resources>
	            <all>
	                <title>Allow Everything</title>
	            </all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <explore>
	                                        <title>Explore Settings</title>
	                                    </explore>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>

	<default>
		<explore>
			<explore_group>
				<explore_category>5</explore_category>
				<explore_category_single>3</explore_category_single>
				<explore_gender>1</explore_gender>
				<explore_occasion>1</explore_occasion>
				<explore_personality>1</explore_personality>
				<explore_grid_size>12</explore_grid_size>
			</explore_group>
		</explore>
   </default>
</config>
