<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Featuredcategory>
      <version>0.1.0</version>
    </Iksula_Featuredcategory>
  </modules>
  <global>
    <helpers>
      <featuredcategory>
        <class>Iksula_Featuredcategory_Helper</class>
      </featuredcategory>
    </helpers>
	<models>
	  <featuredcategory>
		<class>Iksula_Featuredcategory_Model</class>
		<resourceModel>featuredcategory_mysql4</resourceModel>
	  </featuredcategory>
	</models>
	<resources>
	  <featuredcategory_setup>
		<setup>
		  <module>Iksula_Featuredcategory</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </featuredcategory_setup>
	  <featuredcategory_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </featuredcategory_write>
	  <featuredcategory_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </featuredcategory_read>
	  <categoryattribute1413954198_setup>
		<setup>
		  <module>Iksula_Featuredcategory</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1413954198_setup>
	  <categoryattribute1413954198_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1413954198_write>
	  <categoryattribute1413954198_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1413954198_read>
	</resources>
  </global>
</config> 