<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Folofo>
      <version>0.1.0</version>
    </Iksula_Folofo>
  </modules>
  <frontend>
    <routers>
      <folofo>
        <use>standard</use>
          <args>
            <module>Iksula_Folofo</module>
            <frontName>folofo</frontName>
          </args>
      </folofo>
    </routers>
		<layout>
		  <updates>
			<folofo>
			  <file>folofo.xml</file>
			</folofo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <folofo>
        <class>Iksula_Folofo_Helper</class>
      </folofo>
    </helpers>
	<blocks>
	  <folofo>
		<class>Iksula_Folofo_Block</class>
	  </folofo>
	</blocks>
  </global>
</config> 